mixin face
  li.face(style="background-image: url(http://fillmurray.com/80/80)")
    .bubble
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit beatae blanditiis rem voluptas eligendi non dolor magni, tempora, ad reprehenderit consectetur alias dicta, perferendis. Quidem eius minima cupiditate, deserunt officiis!
      cite - Nathan Jacobs


section.mentoring
  .flex.flex--space-around
    .col-1
      ul.faces
        +face
        +face
        li.face.has-bubble-open(style="background-image: url(http://fillmurray.com/80/80)")
          .bubble
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit beatae blanditiis rem voluptas eligendi non dolor magni, tempora, ad reprehenderit consectetur alias dicta, perferendis. Quidem eius minima cupiditate, deserunt officiis!
            cite - Nathan Jacobs
        +face
        +face
        
    .col-1
      p.home-lead.outdented ...Mentoring people like you...
      a(href="https://youtube.com/user/DevTipsForDesigners").home-cta Schedule a Call
